<div class="search-bar-container">
    <label {{ hidden }} for="{{ search-bar-id }}" class="search-bar-label">{{ search-bar-label-text }}</label>
    <input type="search" name="{{ search-bar-name }}"  placeholder="{{ placeholder-text }}" class="search-bar" id="{{ search-bar-id }}">
</div>

